<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create file</title>
</head>
<body>
        <form action="/filecreated" method="POST">
            <textarea type="text" placeholder="File content" class="file_data_inp" name="file_data" id="" required></textarea>
            <!-- <input type="text" placeholder="Filename" name="file_name" required> -->
            <input type="submit" name="" id="">
        </form>
</body>
</html>
