<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read File Accordingly</title>
    <link rel="stylesheet" href="readfile.css">
</head>
<body>
    <form action="/Reading_file" method="POST">
        
    <% files.forEach( element =>{ %>

        <label >
            <input type="radio" name="filename" value="<%= element%>" class="files">
            <%=element%></label>
        <% }); %>
        <button type="submit">Read File</button>
    </form>
    </body>
</html>